detectron2/
habitat-lab
RedNet/model/
data/scene_datasets
data/objectgoal_PersONAL
data/scene_datasets
data/scene_datasets
habitat-sim
data/scene_datasets
data/objectgoal_hm3d
logs
envs/habitat/configs/tasks/objectnav_personal_hard.yaml
envs/habitat/configs/tasks/objectnav_personal_medium.yaml
